{% extends "base.html" %}

{% block content %}


<!-- LIKES -->
<p>Likes: {{ number_of_likes }}</p>

<!-- Display like/unlike button -->
{% if post_is_liked %}
<form action="{% url 'unlike_post' post.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Unlike</button>
</form>
{% else %}
<form action="{% url 'like_post' post.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Like</button>
</form>
{% endif %}


  <!-- Display comments -->
  <h2>Comments</h2>
  {% for comment in comments %}
      <p>{{ comment.author }}: {{ comment.body }}</p>
  {% endfor %}

  


{% endblock %}
