<!-- templates/base.html 
 Other templates inherit from this -->

 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindful Growth</title>

      <!-- MDB CSS -->
      <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
      <script src="{% static 'js/mdb.umd.min.js' %}"></script>
    <!-- Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% block page_title %}

<h1>Mindful Growth</h1>
<a href="{% url "blog_index" %}">Home</a>
<hr>


{% endblock page_title %}


{% block page_content %}




<h1>Search Results</h1>
<ul>
    {% for category in categories %}
        <li>{{ category.name }}</li>
    {% empty %}
        <li>No categories found.</li>
    {% endfor %}
</ul>


{% endblock page_content %}

<footer>
<p class="m-0 text-center text-white">
    {% block copyright %}
        Made by Christina Åhman
    {% endblock copyright %}
</p>
</footer>

 <!-- MDB JS -->
</body>
</html>